{% load template_funcs %}
{% include "players/include.html" %}

<script>
getPlayerInfo({{guid}},"PlayerDetail", true)
getFriends({{guid}})
</script>



<body>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<br>
 


{% include "players/header.html" %}


{% ifequal position "P" %}
Record <label id="WinsLabel">{{ player.getPitcherStats.getWins }}</label>
- 
<label id="LossesLabel">{{ player.getPitcherStats.getLosses }}</label><br>
<br>
<table>
<tr><td colspan=3><b>Player Abilities</b></td></tr>
<tr><td>&nbsp;</td></tr>
	<tr><td>Leadership</td><td><label id="LeadershipLabel">{{ player.playerAbilities.character.leadership }}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="PLAYERABILITY_LEADERSHIP" 
		onClick="incStatPoint({{guid}}, PLAYERABILITY_LEADERSHIP.toString())" value="+"></td></tr>
	<tr><td>Prestige</td><td><label id="PrestigeLabel">{{ player.playerAbilities.character.prestige }}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="strengthStatPoint" 
		onClick="incStatPoint({{guid}}, PLAYERABILITY_PRESTIGE.toString())" value="+"></td></tr>
	<tr><td>Stamina</td><td><label id="StaminaLabel">{{ player.getPlayerAbilities.getPitcherStamina}}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="strengthStatPoint" 
		onClick="incStatPoint({{guid}}, PLAYERABILITY_PITCHER_STAMINA.toString())" value="+"></td></tr>
	<tr><td>Strength</td><td><label id="StrengthLabel">{{ player.pitching.strength}}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="strengthStatPoint" 
		onClick="incStatPoint({{guid}}, 'strength')" value="+"></td></tr>
	<tr><td>Control</td><td><label id="ControlLabel">{{ player.pitching.control}}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="strengthStatPoint" 
		onClick="incStatPoint({{guid}}, PLAYERABILITY_PITCHER_CONTROL.toString())" value="+"></td></tr>
</table>
<br>

{% else %}
Record <label id="WinsLabel">{{ player.getPitcherStats.getWins }}</label>-<label id="LossesLabel">{{ player.getPitcherStats.getLosses }}</label><br>

Best Game:<br>
{% for obj in player.getBatterStats.getBestGame|splitGame %}
{{obj}}<br>
{% endfor %}

<br><br>
<table>
<tr><td colspan=3><b>Player Abilities</b></td></tr>
<tr><td>&nbsp;</td></tr>
	<tr><td>Leadership</td><td><label id="LeadershipLabel">{{ player.playerAbilities.character.leadership }}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="PLAYERABILITY_LEADERSHIP" 
		onClick="incStatPoint({{guid}}, PLAYERABILITY_LEADERSHIP.toString())" value="+"></td></tr>
	<tr><td>Prestige</td><td><label id="PrestigeLabel">{{ player.playerAbilities.character.prestige }}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="PLAYERABILITY_PRESTIGE" 
		onClick="incStatPoint({{guid}}, PLAYERABILITY_PRESTIGE.toString())" value="+"></td></tr>
	<tr><td>Power</td><td><label id="PowerLabel">{{ player.getPlayerAbilities.getPitcherStamina}}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="PLAYERABILITY_BATTER_POWER" 
		onClick="incStatPoint({{guid}}, PLAYERABILITY_BATTER_POWER.toString())" value="+"></td></tr>
	<tr><td>Patience</td><td><label id="PatienceLabel">{{ player.pitching.strength}}</label></td>
	<td><input class="statButton" id="StatPointButton" type="button" name="PLAYERABILITY_BATTER_PATIENCE" 
		onClick="incStatPoint({{guid}}, PLAYERABILITY_BATTER_PATIENCE.toString())" value="+"></td></tr>
</table>
{% endifequal %}


<b>Friends</b>
<label id=FriendLabel></label>
<br><br>
<label id="PitcherLineupLabel"></label>
<br><br>
<label id="LineupLabel"></label>
</body>
